{% extends 'login/base.html' %}
{% load staticfiles %}
{% block title %}忘记密码{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">

          <form class='form-login' action="/forget_pwd/" method="post">
              {% csrf_token %}
              <div class="form-group">
                  用户名：<input type="text" name='username' class="form-control" autofocus required>
              </div>
              <div class="form-group">
                  邮箱：<input type="text" name='email' class="form-control" autofocus required>
              </div>
              <div class="form-group">
                  新密码：<input type="password" name='x_pwd' class="form-control" autofocus required>
              </div>
              {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              <button type="submit" class="btn btn-primary pull-right">提交</button>
          </form>

        </div>
    </div> <!-- /container -->
{% endblock %}